{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div>
    <form method="post" action="{{ path('app_quote_new') }}">
        <input type="text" name="sentence" value="{{ citation.citation }}">
        <input type="text" name="personnage"  value="{{ citation.infos.personnage }}">
        <button type="submit"> ajouter</button>
    </form>
</div>
{% endblock %}
