{% extends 'base.html.twig' %}

{% block title %}Hello QuoteController!{% endblock %}

{% block body %}
    <h1>best</h1>
    {% for quote in quotes %}
        <p>{{ quote.sentence }}</p>
        <p>{{ quote.personnage }}</p>
        <a class="btn btn-danger" href="{{ path('app_my_quote_remove',{'id':quote.id}) }}">retirer</a>
        <hr>
    {% endfor %}
{% endblock %}
